{% extends 'BASES/base.back.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block content %}
<div class="row">

    <div class="col-12">
        <h1 class="text-center">Hello {{ controller_name }}! ✅</h1>
    </div>
</div>
{% endblock %}
